<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Piscinas</title>
    <style>
        .screen{
            margin: 0px;
        }
        .Barra{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 10%;
            padding: 0 10px;
        }
        .Barra h1 {
            margin: 0;
        }
        .Barra nav ul {
            display: flex;
            gap: 10px;
            list-style: none;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <main class="screen">
        <div class="Barra">
            <h1>Piscinas</h1>
            <nav>
              <ul>
                <li><a href="/">Lista de Piscinas</a></li>
                <li><a href="/calculo">Calculo de área</a></li>
              </ul>
            </nav>
        </div>
    </main>
</body>
</html>